
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Mont;
    src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
    font-family: NotoB;
    src: url(NotoSansKR-SemiBold.ttf);
}
@font-face {
    font-family: NuniR;
    src: url(Nunito-Regular.ttf);
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #190417; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#loader img {
    width: 220px; 
    height: 220px; /
}
body {
    font-family: Mont;
    background-color: #f4f4f4;
}

.navbar {
    background-color: #190417;
    color: white;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar .logo img {
    height: 200px; 
    width: 200px;
    transition: height 0.3s, width 0.3s;
}

.nav-menu {
    list-style-type: none;
    display: flex;
}
.navbar .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 280px;
    margin-top: -120px;
    padding-bottom: 110px;
}
.navbar .menu-icon :hover{
    color: #d8c8ec;
}
.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    transition: color 0.3s;
}
.nav-menu li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: white;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-menu li a:hover::after {
    width: 100%;
    left: 0;
    background: white;
}
.nav-menu li a span {
    display: inline-block;
    position: relative;
    margin-right: 5px;
}

.nav-menu li a span::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: -2px;
    background-color: #917da7;
    transition: all 0.3s ease-in-out;
}

.nav-menu li a:hover span::after {
    height: 2px;
}

.nav-menu li a:hover {
    color: #ffff; /* Change color on hover */
}

.container {
    text-align: center;
    background-color: #190417;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 10px auto;
    
}
.container :hover{
    color: #ffff;
    transition: 1s;
}
.container-i{
    text-align: center;
    background-color: #190417f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 10px auto;
}
.container-i :hover{
    color: #25D366;
    transition: 1s;
}

h1 {
    color: #fff;
    font-size: 2em; /* Responsive font size */
}
h2{
    color: #fff;
    font-family: NotoB;
}

p {
    color: #fff;
    font-size: 1.2em; /* Responsive font size */
    margin-bottom: 10px;
    font-family: NuniR;
}

.earn {
    text-align: center;
    margin-right: 30px;
}

.earn img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin: 10px;
  
}
.ref{
    text-align: center;
}
.ref img{
    width: 1080px;
    height: 720px;
    margin-top: 10px;
    margin: 0px;
    padding: 8px;
}

.telegram{
    text-align: center;
    margin-bottom: 15px;
}

.whatsapp-button {
    background-color: #190417;
    color: white;
    font-weight: 600;
    text-align: center;
    border: none;
    padding: 15px 30px;
    font-size: 1em; 
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    font-family: Mont;
}
.nav-menu.active {
    animation: slideIn 1s forwards;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #190417;
    animation: upAndDown 10s infinite;
    filter: drop-shadow(0 0 10px #190417);
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar .logo{
        
       padding: 0 40px; 
    }
    .navbar .menu-icon {
        display: block;
    }   

    .navbar .logo img {
        height: 80px; 
        width: 120px;
       margin-top: 50px;

    }
    .ref img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin: 0px;
      
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        margin-top: -90px;
        margin-bottom: 10px;
        display: none;
        text-align: right;
        
        
    }

    .nav-menu.active {
        display: flex;
    }


    .nav-menu li {
        margin-right: 5 0px;
        margin-bottom: 15px;
    }

    .container {
        padding: 10px;
        max-width: 90%;
        margin: 10px;
    }

    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .whatsapp-button {
        padding: 12px 24px;
        font-size: 0.9em;
        text-align: center;
    }
    
}

@media (max-width: 480px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .logo img {
        height: 120px; 
        width: 120px;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
        display: none;
    }
    .nav-menu.active {
        display: flex;
    }
    
    .ref img {
        max-width: 100%;
        height: auto;
        margin-top: 10px;
        margin: 0px;
      
    }

    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.2em;
    }
    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .whatsapp-button {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}
