/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Mont;
    src: url(/Montserrat-VariableFont_wght.ttf);
}

body {
    font-family: Mont;
    background-color: #f4f4f4;
}

.navbar {
    background-color: rgb(25, 4, 23);
    color: white;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.navbar .logo img {
    height: 150px; 
    width: 150px;
}

.nav-menu {
    list-style-type: none;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-menu li a:hover {
    color: #25D366; /* Change color on hover */
}

.container {
    text-align: center;
    background-color: #190417;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%; /* Adjust width for smaller screens */
    margin: 10px auto;
}

h1 {
    color: #fff;
    font-size: 2em; /* Responsive font size */
}

p {
    color: #fff;
    font-size: 1.2em; /* Responsive font size */
    margin-bottom: 10px;
}

.earn {
    text-align: center;
    margin-right: 30px;
}

.earn img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin: 10px;
  
}

.whatsapp-button {
    background-color: #25D366;
    color: black;
    font-weight: 600;
    border: none;
    padding: 15px 30px;
    font-size: 1em; /* Responsive font size */
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s;
    font-family: Mont;
}

.whatsapp-button:hover {
    background-color: #128C7E;
}
.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 40px solid #190417;
    animation: upAndDown 10s infinite;
    filter: drop-shadow(0 0 10px #190417);
}

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@media (max-width: 768px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .navbar .logo img {
        height: 60px; 
        width: 60px;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
        max-width: 90%;
        margin: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .whatsapp-button {
        padding: 12px 24px;
        font-size: 0.9em;
    }
    
}

@media (max-width: 480px) {
    .navbar .container {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar .logo img {
        height: 50px; 
        width: 50px;
    }

    .nav-menu {
        flex-direction: column;
        width: 100%;
    }

    .nav-menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
        max-width: 100%;
    }

    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    .whatsapp-button {
        padding: 10px 20px;
        font-size: 0.8em;
    }
}
